@media only screen and (max-width:600px){
    nav img{
        width: 80px;
    }
    .menu-btn{
        display: none;
    }

    .user-area{
        width: 30%;
    }

    .plus{
        display: none;
    }

    .mobile-preview1{
        display: flex;
        margin: 2% 0% 2% 7%;
        color: black;
    }

    .mobile-preview2{
        display: flex;
        margin: 2% 0% 2% 2%;
        color: black;
    }

    #search{
        display: none;
    }

    #mobile-menu{
        display: flex;
        margin-left: 5%;
        margin-right: 10%; 
        width: max-content;
        font-weight: bold;
        border-radius: 5px;
        text-align: left;
        padding-right: 12%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 1%;
        font-size: medium;
    }

    #mobile-menu i{
        border: 0.5px solid black;
        border-radius: 50%;
        background: black;
        color: white;
        padding: 3% 8%;
        margin-left: 5%;
    }

    #user-login{
        background-color: transparent;
    }

    nav{
        justify-content: space-between;
        background-color: rgb(67, 64, 64);
    }
    .sub-nav{
        display: none;
    }
    .featured-matches{
        display: flex;
        flex-direction: column;
    }

    .featured-matches h4{
        background-color: #335A7B;
        width: 100%;
        font-weight: bold;
        color: white;
        padding-left: 4%;
    }
    .match-stats-p1{
        display: flex;
        flex-direction: column;
    }
    .first-match{
        width: 100%;
        border-right: none;
        border-bottom: 0.5px solid black;
    }

    .first-match p{
        font-weight: bold;
    }


    .second-match{
        width: 100%;
        border-right: none;
        border-bottom: 0.5px solid black;
        padding: 1% 0% 1% 4%;
    }

    .second-match p{
        font-weight: bold;
    }

    .third-match{
        width: 100%;
        border-right: none;
        border-bottom: 0.5px solid black;
        padding: 1% 0% 1% 4%;
    }

    .third-match p{
        font-weight: bold;
    }

    .fourth-match{
        width: 100%;
        border-right: none;
        border-bottom: 0.5px solid black;
        padding: 1% 0% 1% 4%;
    }

    .fourth-match p{
        font-weight: bold;
    }

    .slider{
        display: none;
    }


    .match-stats-p2{
        display: none;
    }

    main{
        flex-direction: column-reverse;
    }
    .right-aside-container{
        width: 100%;
    }
    .center-container{
        width: 100%;
    }
    .left-aside-container{
        display: none;
    }
    .special-section{
        display: none;
    }

    .featured{
        width: 110%;
        background-color: #335A7B;
        color: white;
        padding: 2% 0%;
        margin-left: -5%;
        font-weight: bold;
    }

    .top-stories-mobile{
        display: flex;
        background-color: #335A7B;
        color: white;
        padding: 2% 0% 2% 1%;
        width: 99%;
        font-size: larger;
        
    }

    .show-ad2{
        display: flex;
        width: 100%;
        height: 250px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
    }

    .ads2{
        height: 240px;
        width: 95%;
        display: flex;
        
    }

    .show-ad{
        display: none;
    }

    footer{
        display: none;
    }
    .mobile-footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgb(105, 102, 102);
    }
    .mobile-footer-title{
        display: flex;
        width: 100%;
        height: 5%;
    }
    .mobile-footer-title h3{
        width: 50%;
        margin-top: 2%;
        color: white;
        margin-left: 2%;
    }

    .mobile-footer-title button{
        margin-top: 1%;
        border-radius: 5px;
        border: 0.5px solid white;
        font-weight: bold;
        font-size: 15px;
    }

    .mobile-footer-title button i{
        border: 0.5px solid white;
        background-color: black;
        border-radius: 50%;
        color: white;
        font-size: 15px;
        padding: 1% 4%;
    }

    .mobile-footer-title button{
        width: 20%;
        margin-left: 20%;
    }
    .mobile-menu-footer-items{
        height: 85%;
        width: 100%;
        display: flex;
    }
    .column-in-mobile-footer{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .column-in-mobile-footer{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .column-in-mobile-footer a{
        text-align: left;
        text-decoration: none;
        background-color: transparent;
        color: white;
        font-weight: 600;
        margin-top: 9%;
        font-size: 14px;
        margin-left: 3%;
    }

    .column1-in-mobile-footer a:hover{
        text-decoration: underline;
    }
    .column2-in-mobile-footer a:hover{
        text-decoration: underline;
    }


    .apps-social-channels{
        display: flex;
    }

    .apps-social-channels h3{
        margin-top: 10%;
        text-indent: 3%;
        color: white;
    }
    .apps-in-mobile-footer{
        width: 50%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
    .social-in-mobile-footer{
        width: 50%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }

    .apps-in-mobile-footer a{
        text-align: left;
        text-decoration: none;
        padding: 1%;
        background-color: transparent;
        color: white;
        font-weight: 600;
        margin-top: 10%;
        text-indent: 3%;
    }

    .bottom-line-mobile-footer{
        display: flex;
        padding-bottom: 2%;
    }

    .bottom-line-mobile-footer a{
        margin-top: 3%;
        background-color: transparent;
        color: white;
        padding: 1%;
        border: none;
        text-align: center;
        font-weight: 500;
        text-decoration: none;
    }

    .copyright-area-in-mobile{
        background-color: white;
        font-size: small;
    }

}

