*{
    margin: 0;
    padding: 0;
}

.score-container{
    background-color:#f5f5f5;
    max-width: 30%;
    max-height: 50%;
    margin: 0 auto;
    margin-top: 10%;
    padding-left: 1%;
    border-left: 2px solid blue;
}

.score-details{
    display: flex;
    padding-top: 1%;
}
.icon{
    width:3%;
    margin-left:62%;
    margin-top:-2%;
}
.score-details p{
    font-size: 25px;
    padding-left: 5%;
    padding-top:0.9%;
}

.match-result{
    color: blue;
    font-size: larger;
    padding: 1%;
}